.bg-primary {
    background-color: #d90a0a!important;
    }
p {
        font-size: 1rem;
    }


a:link {
      color: blue;
      background-color: transparent;
      text-decoration: none;
    }
    
a:visited {
      color: rgb(7, 11, 253);
      background-color: transparent;
      text-decoration: none;
    }
    
a:hover {
      color: red;
      background-color: transparent;
      text-decoration: underline;
    }
    
a:active {
      color: yellow;
      background-color: transparent;
      text-decoration: underline;
    }